body {
  margin: 0px;
}
#logo img {
  width: 80px;
  height: 80px;
  margin: 0px 6px;
}
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  font-family: "Kanit", sans-serif;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  /* relative to it's parent  */
  top: 0px;
  left: 0px;
  height: 95%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
#navbar ul {
  display: flex;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  display: block;
  padding: 3px 22px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: white;
}
#home {
  display: flex;
  flex-direction: column;
  height: 550px;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  position: absolute;
  /* relative to it's parent  */
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.7;
  height: 650px;
  width: 100%;
  background: url("../images/img/food2.jpg") no-repeat center center/cover;
}
#home h1 {
  color: white;
  margin: 0px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
}
#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}

#services {
  margin: 34px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 3px 6px;
  border-radius: 28px;
  background: rgb(233 233 233);
}
#services .box img {
  height: 100px;
  margin: auto;
  display: block;
}
#services .box p {
  font-family: "Josefin Sans", sans-serif;
}
.services-container .h-primary {
  margin-top: 10px;
  font-size: 2.8rem;
}
/* Client Section */
.client-section::before {
  content: "";
  position: absolute;
  background: url("../images/img/contactus.jpg.crdownload") no-repeat;
  width: 99.7%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  opacity: 0.4;
}
.client-section {
  position: relative;
  padding: 3px;
}
#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
#clients img {
  height: 44px;
}
.client-item {
  padding: 5px;
}
/* Utility class */
.h-primary {
  font-size: 2.8rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 3px;
  padding-top: 15px;
}
.h-secondary {
  font-size: 1.7rem;
  font-family: "Kanit", sans-serif;
}
.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: gray;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 25px;
  cursor: pointer;
}
.center {
  text-align: center;
}
/* Contact Information */
#contact {
  position: relative;
}
/* #contact-box h1 {
  margin-top: 10px;
} */
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 10px;
}
#contact-box form {
  width: 40%;
}
#contact-box label {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}
#contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  background: url("../images/img/contactus.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
footer {
  background: black;
  color: white;
  padding: 9px 20px;
}
